<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>part1</servlet-name>
<servlet-class>test.part1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>part1</servlet-name>
<url-pattern>/in</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>sign</servlet-name>
<servlet-class>test.sign</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sign</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>check</servlet-name>
<servlet-class>test.check</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>check</servlet-name>
<url-pattern>/check</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>part2</servlet-name>
<servlet-class>test.part2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>part2</servlet-name>
<url-pattern>/p2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>part3</servlet-name>
<servlet-class>test.part3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>part3</servlet-name>
<url-pattern>/p3</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>fb</servlet-name>
<servlet-class>test.fb</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>fb</servlet-name>
<url-pattern>/feed</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>test.logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/out</url-pattern>
</servlet-mapping>


<welcome-file-list>
<welcome-file>Input.html</welcome-file>
</welcome-file-list>
</web-app>